.App {
    text-align: center;
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.chat-list {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-item {
  display: flex; 
  align-items: center; 
  padding: 15px; 
  border-bottom: 1px solid #f0f0f0; 
  transition: background-color 0.3s, box-shadow 0.3s; 
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  background-color: #fafafa;
}
    .chat-item:last-child {
        border-bottom: none; 
    }

    .chat-item:hover {
        background-color: #f9f9f9;
    }


.user-image {
    border-radius: 50%; 
    height: 60px; 
    width: 60px; 
    margin-right: 15px; 
    object-fit: cover;
    border: 2px solid #96C78C;
}


.chat-details .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-details .user-info .user-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}


.chat-details .user-info .timestamp {
  font-size: 0.8rem;
  color: #999;
}

.last-message {
  color: #666; 
  font-size: 0.9rem; 
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}