/* �`���b�g���X�g�̃X�^�C�� */
.chat-list {
    list-style-type: none; /* �f�t�H���g�̃h�b�g������ */
    padding: 0; /* �p�f�B���O���[���� */
    margin: 0; /* �}�[�W�����[���� */
    border: 1px solid #ccc; /* ���ň͂� */
    border-radius: 12px; /* �p���ۂ����� */
}

/* �`���b�g�A�C�e���̃X�^�C�� */
.chat-item {
    display: flex; /* Flexbox�Ŕz�u */
    align-items: center; /* �c�����𒆉����� */
    padding: 10px 15px; /* �A�C�e���̃p�f�B���O */
    border-bottom: 1px solid #eee; /* �A�C�e���̉��ɐ������� */
    transition: background-color 0.3s; /* �w�i�F�̃A�j���[�V���� */
}

    .chat-item:last-child {
        border-bottom: none; /* �Ō�̃A�C�e���ɂ͐��������Ȃ� */
    }

    .chat-item:hover {
        background-color: #f9f9f9; /* �z�o�[���̔w�i�F */
    }

/* ���[�U�[�摜�̃X�^�C�� */
.user-image {
    border-radius: 50%; /* �摜���ۂ����� */
    height: 50px; /* �摜�̃T�C�Y */
    width: 50px; /* �摜�̃T�C�Y */
    margin-right: 15px; /* �E�}�[�W�� */
}

/* �`���b�g�ڍׂ̃X�^�C�� */
.chat-details {
    flex-grow: 1; /* �c��̃X�y�[�X�𖄂߂� */
}

/* �^�C���X�^���v�̃X�^�C�� */
.timestamp {
    margin-left: auto; /* �����������o���ĉE�[�ɔz�u */
    color: gray; /* �F�𔖂����� */
}

/* �ŐV�̃��b�Z�[�W�̃X�^�C�� */
.last-message {
    color: #666; /* ���b�Z�[�W�̐F�𔖂� */
    font-size: 0.9em; /* �t�H���g�T�C�Y�������� */
}

