/* アプリ全体のスタイル */
.App {
    text-align: center;
    background-color: #f0f0f0; /* 背景色を明るく */
    font-family: Arial, sans-serif; /* フォントの変更 */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* チャットリストのスタイル */
.chat-list {
    list-style-type: none; /* デフォルトのドットを消す */
    padding: 0; /* パディングをゼロに */
    margin: 0; /* マージンをゼロに */
    border: 1px solid #ccc; /* 線で囲む */
    border-radius: 12px; /* 角を丸くする */
}

/* チャットアイテムのスタイル */
.chat-item {
    display: flex; /* Flexboxで配置 */
    align-items: center; /* 縦方向を中央揃え */
    padding: 10px 15px; /* アイテムのパディング */
    border-bottom: 1px solid #eee; /* アイテムの下に線を引く */
    transition: background-color 0.3s; /* 背景色のアニメーション */
}

    .chat-item:last-child {
        border-bottom: none; /* 最後のアイテムには線を引かない */
    }

    .chat-item:hover {
        background-color: #f9f9f9; /* ホバー時の背景色 */
    }

/* ユーザー画像のスタイル */
.user-image {
    border-radius: 50%; /* 画像を丸くする */
    height: 50px; /* 画像のサイズ */
    width: 50px; /* 画像のサイズ */
    margin-right: 15px; /* 右マージン */
}

/* チャット詳細のスタイル */
.chat-details {
    flex-grow: 1; /* 残りのスペースを埋める */
}

/* タイムスタンプのスタイル */
.timestamp {
    margin-left: auto; /* 左側を押し出して右端に配置 */
    color: gray; /* 色を薄くする */
}

/* 最新のメッセージのスタイル */
.last-message {
    color: #666; /* メッセージの色を薄く */
    font-size: 0.9em; /* フォントサイズを小さく */
}

